 .underline {
    font-family: "Manrope";
    text-decoration: underline;
    color: white;
    text-underline-offset: 8px;
  }

  .profile-picture {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    background-color: #ddd;
  }

.join-button{
  background-color: rgba(217, 217, 217, .2);
  font-size: 1.5rem;

}
