@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");



.bg-gradient {
  background: radial-gradient(circle at 65%, #304b63, #281822, #160e14);
}

.topicheader{
  font-family: "Manrope";
  user-select: none;

}

.topicsubheader{
  font-family: "Manrope";
  user-select: none;

}

.button-default{
  background-color: rgba(217, 217, 217, .2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  text-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  border: none;
  outline: none;
  user-select: none;

}

.button-default:hover {
  background-color: rgba(217, 217, 217, .3);  /* Lighter gray when hovered */
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  cursor: pointer;
}

.button-pressed{
  background-color: rgba(57,57,57,0.71);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  text-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  user-select: none;

}

.button-pressed:hover {
  background-color: rgba(57,57,57,0.8);  /* Darker gray when hovered */
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
  cursor: pointer;
}


.join-button{
  background-color: rgba(217, 217, 217, .2);
  font-size: 1.5rem;

}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.75s ease-in-out
}